@model IEnumerable<Examen_ASP.Net.Models.Complaint>

@{
    ViewBag.Title = "Index";
    if (Session["user"] != null && ViewBag.Role == "admin")
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";

    }
}
@{ ViewBag.Title = "Category"; }

<div class="content">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="block block-rounded">
                @*@if (ViewBag.messageSuccess != null)
                            {
                <div class="alert alert-success">@ViewBag.messageSuccess</div>}*@
                <div class="block-header block-header-default">
                    <h3 class="block-title">Complaints list</h3>

                </div>
                <div class="block-content">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 100px;">#</th>
                                <th>User Name</th>
                                <th>Messages</th>
                                @*<th class="text-center" style="width: 150px;">Actions</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td class="text-center" scope="row">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td class="fw-semibold fs-sm">
                                        @Html.DisplayFor(modelItem => item.User.Name)<br />
                                        

                                    </td>
                                    <td class="fw-semibold fs-sm">
                                        @Html.DisplayFor(modelItem => item.Question)<br />
                                        @if (item.Answer != null) { 
                                        
                                            <span class="text-primary ">
                                                Admin Reponse:
                                            </span>
                                            @Html.DisplayFor(modelItem => item.Answer)
                                         }
                                        else { 
                                        <span class="text-primary ">
                                            No Reponse yet:
                                        </span>
                                        }

                                    </td>

                                </tr>

                                if (Session["user"] != null && ViewBag.Role == "admin")
                                {

                                    <tr>
                                        <td></td>
                                        <form class="row row-cols-lg-auto g-3 align-items-center" action="@Url.Action("Edit", "Complaints")" method="POST">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" value="@item.Id" name="Id"/>
                                        <td>
                                            <textarea class="form-control" id="Answer" name="Answer" rows="4" placeholder="Response content.."></textarea>
                                        </td>
                                        <td>
                                            @if (item.Answer == null)
                                            {

                                                <button type="submit" class="btn btn-primary">Add Response</button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-success">Change Response</button>
                                            }
                                        </td>

                                        </form>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @if (Session["user"]!=null && ViewBag.Role != "admin")
            {

            

        <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Complaints</h3>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="row">
                            <div class="col-lg-4">
                                <p class="fs-sm text-muted">
                                    Add a new Complaint
                                </p>
                            </div>
                            <div class="col-lg-8 space-y-2">
                                <form class="row row-cols-lg-auto g-3 align-items-center" action="@Url.Action("Create", "Complaints")" method="POST">
                                    @Html.AntiForgeryToken()
                                    <div class="content">

                                        <div class="row">

                                            <label class="visually-hidden" for="Question">Complaint Message</label>
                                        </div>

                                        <div class="col-12">
                                            <textarea class="form-control" id="Question" name="Question" rows="4" placeholder="Message content.."></textarea>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            }
    </div>


@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
